---
import BaseLayout from '../layouts/BaseLayout.astro';
import ArticleSearch from '../components/ArticleSearch.astro';
---

<BaseLayout>

<link rel="stylesheet" href="/styles/global.css" />

<h2 class="sub-heading">Search Garage Door Articles</h2>
<ArticleSearch />

  <!-- Spacer to push footer down -->
  <div style="min-height: calc(100vh - 400px);"></div>



</BaseLayout>